@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

#GlossaryGrid {
  min-height: 400px;
  .content {
    font-size: 20px;
  }

  .categories-list {
    display: flex;
    gap: 8px 16px;
    flex-wrap: wrap;
    button {
      @include button-styles;
    }
  }
  .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    min-height: 54px;
    > div:nth-child(2) {
      margin: 0 0 0 auto;
    }
    #LetterNav {
      &.is-disabled {
        opacity: 0.3;
        display: none;
        cursor: pointer;
        pointer-events: none;
      }
    }
    #PostSearch {
      margin: 0 0 0 auto;
      &.is-disabled {
        opacity: 0.3;
        display: none;
        cursor: pointer;
        pointer-events: none;
      }
    }
    @media (max-width: 768px) {
      align-items: stretch;
      flex-direction: column;
      gap: 24px;
      & > div {
        max-width: none;
        max-width: -webkit-fill-available;
      }
    }
  }
}
