@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

#GlossaryGrid .GlossaryBox {
  /* padding: 24px; */
  /* border: 1px solid $gray2;
  border-radius: 32px; */
  /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 24px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  h3 {
    margin: 0;
    color: $lightHeading;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 33.6px */
    letter-spacing: -1.12px;
  }
  .content {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
