@import "../../styles/colors.scss";

#LetterNav {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 12px;
  button {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: $lightHeading;
    &.active {
      color: $brandGreen;
    }
  }
  .clear {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f0f0e7;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 20px;
    svg {
      width: 14px;
      height: 14px;
    }
  }
  @media (max-width:768px) {
    gap: 10px;
    button {
      margin-bottom: -10px;
    }
  }
}
