@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

#TabsNav {
  margin: 36px 0;
  border-bottom: 2px solid $gray2;
  display: flex;
  gap: 0;
  button {
    display: block;
    color: #03363d;
    font-weight: 500;
    margin-bottom: -2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 40px 13px;
    @include hover-bottom-border;
    &.active {
      box-shadow: inset 0 -5px 0 $brandGreen;
    }
  }
  @media (max-width:767px) {
    margin: 24px 0;
    button {
      padding: 10px 16px 13px;
      flex: 1;
      text-align: center;
    }
  }
}
