

#TabsNav {
  .tabsContainer {
    color: pink;
    display: flex;
  }
  button {
    color: #03363d;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    border-bottom: 5px solid transparent;
    &.active {
      border-bottom: 5px solid #22e2b5;
    }
    &:hover {
      border-bottom: 5px solid #22e2b5;
    }
  }
}
