@import "../../styles/colors.scss";

#DateRangePicker {
  display: flex;
  gap: 8px;
  padding: 13px 16px;
  border: 1px solid $neutralGray;
  border-radius: 8px;
  width: 100%;
  max-width: 255px;
  max-height: 54px;
  align-items: center;
  background: white;
  svg {
    width: 24px;
    height: 24px;
  }
  input {
    font-style: normal;
    font-weight: 400;
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    &:placeholder {
      color: $darkGray;
      font-size: 16px;
    }
  }
  .react-datepicker-wrapper {
    width: 100%;
    .react-datepicker__close-icon {
      &:after {
        background: $brandGreen;
      }
    }
  }
  .react-datepicker__navigation-icon {
    &:before {
      border-color: $lightHeading;
    }
  }
  .react-datepicker {
    border: none;
  }
  .react-datepicker__month-container {
    border-radius: 16px;
    box-shadow: 0px 4px 50px 0px rgba(31, 31, 58, 0.15);
  }
  .react-datepicker__triangle {
    &:before {
      border-bottom-color: $brandGreen;
    }
    &:after {
      border-bottom-color: $brandGreen;
      border-top-color: $brandGreen;
    }
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected,
  .react-datepicker__header {
    background: $brandGreen;
  }
  .react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover .react-datepicker__year-text:hover {
    background: $brandGreen;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
