@import "../../styles/colors.scss";

#PostsGrid {
  margin: 30px auto;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 33px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .post {
    padding: 25px;
    border: 1px solid $grey2;
  }

  .categories {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .PostBox {
    .categories {
        display: flex;
        gap: 10px;
    }
  }
}
