@import "../../styles/colors.scss";

#PostsGrid {
  margin: 64px auto;
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Example grid columns: 3 equal-width columns */
    grid-gap: 30px;
    justify-content: center;

    @media (max-width: 1021px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

  }

  .post {
    padding: 25px;
    border: 1px solid $gray2;
  }

  .categories {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  @media (max-width: 768px) {
    margin: 24px auto;
  }
}
