@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

#PostsGrid .PostBox {
  padding: 25px;
  border: 1px solid $gray2;
  border-radius: 32px;

  .categories {
    display: flex;
    flex-wrap: wrap;
    span {
      @include button-styles;
    }
  }
  .image {
    min-height: 244px;
    width: 100%;
    border-radius: 23px;
    border: 1px solid $neutralGray;
  }
  
  h3,
  h3 a {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: $lightHeading;
    text-decoration: none;
    letter-spacing: -0.8px;
    line-height: normal;
  }
  .meta {
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $lightBody;
  }
}
