@import "./colors.scss";

@mixin button-styles {
  display: block;
  appearance: none;
  padding: 8px 16px;
  background: $gray;
  color: $lightBody;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  outline: none;
  border-radius: 8px;

  &:hover,
  &.current {
    background: $lightHeading;
    color: white;
  }
}

@mixin hover-bottom-border {
  border-radius: 0;
  &:not([disabled]) {
    &:hover,
    &.active {
      box-shadow: inset 0 -5px 0 $brandGreen;
    }
  }
}

@mixin link-box {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $lightHeading;
  &:hover, &:focus {
    /* transform: scale(1.05); */
  }
}